.storybook-button {
  font-family: monospace;
  font-weight: 700;
  border: solid 1px #fc8;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  box-shadow: rgba(255, 204, 136, 0.5) 5px 5px 0px -2px;
}
.storybook-button--primary {
  color: #7e6aff;
  background-color: #dbdbdb;
}
.storybook-button--secondary {
  color: #dbdbdb;
  background-color: transparent;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
